accelerate
huggingface_hub
numpy
psutil
PyYAML
regex
numpy
requests
gguf
transformers
safetensors
tokenizers
tqdm
transformers
filelock
Jinja2
MarkupSafe
networkx
pip
setuptools
sympy
torch
torchgen
typing_extensions
urllib3
fastapi
uvicorn